@charset "utf-8";
@import "./commen.scss";

.service[data-v-20e08a80] {
    width: 100%;
    margin-bottom: 120px;
    margin-top: 70px;

    .package .package-base[data-v-20e08a80],
    .package .package-masonry[data-v-20e08a80],
    .package .package-online[data-v-20e08a80] {
        width: 251px;
    }

    .package .package-base .title[data-v-20e08a80],
    .package .package-masonry .title[data-v-20e08a80],
    .package .package-online .title[data-v-20e08a80] {
        background: #62a7ff;
    }

    .header[data-v-20e08a80] {
        height: 380px;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
        background: url(../img/help_bg.d9bc231.png) 0 0 no-repeat;
        background-size: 100% 100%;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .header-enterpise[data-v-20e08a80] {
            font-size: 42px;
            text-align: center;
            line-height: 42px;
            padding-bottom: 40px;
        }

        .header-tips[data-v-20e08a80] {
            font-size: 20px;
            text-align: center;
            line-height: 20px;

            div[data-v-20e08a80]:first-child {
                margin-bottom: 10px;
            }
        }
    }

    .service-title[data-v-20e08a80] {
        font-size: 28px;
        color: #333;
        text-align: center;
        line-height: 28px;
        font-weight: 400;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .service-content[data-v-20e08a80] {
        font-size: 16px;
        color: #999;
        text-align: center;
        line-height: 16px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .version[data-v-20e08a80] {
        width: 1200px;
        padding: 100px 45px 0;
        margin: 0 auto;

        .version-list[data-v-20e08a80] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            .version-recommend[data-v-20e08a80] {
                position: absolute;
                right: 0;
                top: 0;
                width: 60px;
            }

            .version-item[data-v-20e08a80] {
                width: 330px;
                height: 470px;
                -webkit-box-shadow: 0 2px 30px 0 hsla(0, 0%, 75.7%, .3);
                box-shadow: 0 2px 30px 0 hsla(0, 0%, 75.7%, .3);
                border-radius: 4px;
                text-align: center;
                cursor: default;

                .version-title[data-v-20e08a80] {
                    font-size: 24px;
                    color: #fff;
                    text-align: center;
                    line-height: 28px;
                    background: #99cbff;
                    height: 78px;
                    line-height: 78px;
                    overflow: hidden;
                    position: relative;
                }

                .version-price[data-v-20e08a80] {
                    color: #333;
                    text-align: center;
                    margin-top: 25px;
                    margin-bottom: 10px;

                    span[data-v-20e08a80] {
                        font-size: 14px;
                        font-weight: 600;
                    }

                    .version-price-num[data-v-20e08a80] {
                        font-size: 52px;
                        font-size: 28px;
                    }

                    .version-price-normal[data-v-20e08a80] {
                        font-size: 28px;
                        font-weight: 400;
                    }
                }

            }

            .point {
                cursor: pointer;
                position: relative;
            }

            .version-btn[data-v-20e08a80] {
                width: 126px;
                height: 42px;
                line-height: 40px;
                margin: 44px auto 40px;
                background: #fff;
                border: 1px solid #4285f4;
                border-radius: 21px;
                font-size: 16px;
                color: #4285f4;
                text-align: center;
                text-shadow: 0 2px 17px hsla(0, 0%, 100%, .13);
            }

            .version-items[data-v-20e08a80] {
                width: 300px;
                margin: 0 auto;
                border-top: 1px solid #f2f2f2;
                padding-top: 10px;
            }

            .version-detail[data-v-20e08a80] {
                font-size: 14px;
                color: #666;
                line-height: 38px;
                text-align: left;

                img[data-v-20e08a80] {
                    width: 10px;
                    height: 10px;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }

    }

    .entercombo[data-v-20e08a80] {
        width: 1200px;
        margin: 100px auto 0;

        table[data-v-20e08a80] {
            width: 1108px;
            font-size: 14px;
            color: #fff;
            text-align: center;
            line-height: 16px;
            margin: 51px auto 0;

            thead[data-v-20e08a80] {
                background-image: linear-gradient(-135deg, #b8ceff, #99b0ff);
                height: 79px;
                line-height: 79px;
                -webkit-box-shadow: 0 2px 30px 0 hsla(0, 0%, 75.7%, .3);
                box-shadow: 0 2px 30px 0 hsla(0, 0%, 75.7%, .3);

                th[data-v-20e08a80] {
                    border: 1px solid #f2f2f2;
                    text-align: center;

                }

                .register[data-v-20e08a80] {
                    width: 209px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }

            tbody[data-v-20e08a80] {
                color: #333;

                tr[data-v-20e08a80] {
                    height: 60px;
                    background: hsla(0, 0%, 94.9%, .3);

                    td[data-v-20e08a80] {
                        border: 1px solid #f2f2f2;
                        text-align: center;

                    }
                }

                .other[data-v-20e08a80] {
                    font-size: 14px;
                    background: #fff;
                    color: #999;
                    line-height: 16px;
                }
            }
        }
    }

    .package[data-v-20e08a80] {
        width: 1110px;
        margin: 100px auto 0;
        overflow: hidden;
        position: relative;
        -webkit-transition: all .8s;
        transition: all .8s;

        img[data-v-20e08a80] {
            width: 12px;
            height: 12px;
        }

        .title-tips[data-v-20e08a80] {
            height: 40px;
            line-height: 40px;
            background: hsla(0, 0%, 94.9%, .3);
            color: #999;
            border-right: 1px solid #f2f2f2;
            font-family: DAB;
        }

        .package-online[data-v-20e08a80] {
            width: 251px;

            .title[data-v-20e08a80] {
                background: #62a7ff;
            }
        }

        .title[data-v-20e08a80] {
            height: 60px;
            line-height: 60px;
            border-right: 1px solid #f2f2f2;
        }

        .fle[data-v-20e08a80] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding-bottom: 20px;
            border-bottom: 1px solid #f2f2f2;
        }

        .service-list[data-v-20e08a80] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 14px;
            color: #fff;
            text-align: center;
            margin-top: 50px;
            -webkit-box-shadow: 0 2px 30px 0 hsla(0, 0%, 75.7%, .3);
            box-shadow: 0 2px 30px 0 hsla(0, 0%, 75.7%, .3);

            ul li[data-v-20e08a80] {
                height: 60px;
                line-height: 60px;
                border-right: 1px solid #f2f2f2;
                border-bottom: 1px solid #f2f2f2;
            }
        }

        .package-detail[data-v-20e08a80] {
            width: 360px;
            color: #666;

            .title[data-v-20e08a80] {
                height: 100px;
                color: #fff;
                line-height: 110px;
                background-image: linear-gradient(-135deg, #9cd2ff, #62a7ff);
            }
        }
    }

    .special[data-v-20e08a80] {
        margin: 100px auto 0;
        width: 1110px;
        overflow: hidden;
        position: relative;
        -webkit-transition: all .8s;
        transition: all .8s;

        table[data-v-20e08a80] {
            margin-top: 50px;
            font-size: 14px;
            color: #666;
            text-align: center;
            -webkit-box-shadow: 0 2px 30px 0 hsla(0, 0%, 75.7%, .3);
            box-shadow: 0 2px 30px 0 hsla(0, 0%, 75.7%, .3);

            img[data-v-20e08a80] {
                width: 12px;
                height: 12px;
            }

            .price[data-v-20e08a80] {
                color: #4285f4;
            }

            thead[data-v-20e08a80] {
                background-image: linear-gradient(-135deg, #b8ceff, #99b0ff);
                height: 79px;
                line-height: 79px;
                color: #fff;

                th[data-v-20e08a80] {
                    border-right: 1px solid #fff;
                    text-align: center;

                }
            }

            tbody {
                tr[data-v-20e08a80] {
                    background: #fff;
                    border-right: 1px solid #f2f2f2;
                    height: 61px;
                    line-height: 61px;

                    span[data-v-20e08a80] {
                        display: block;
                        line-height: 2;
                    }

                    td[data-v-20e08a80] {
                        border: 1px solid #f2f2f2;
                        padding: 0 15px;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        text-align: center;

                    }
                }

                tr[data-v-20e08a80]:nth-child(odd) {
                    background: hsla(0, 0%, 94.9%, .3);
                }
            }
        }

        .special-tips[data-v-20e08a80] {
            font-size: 14px;
            color: #999;
            margin-top: 30px;
        }
    }
}