@charset "utf-8";
@import "./commen.scss";

.product {
    min-width: 1200px;

    .product-banner {
        margin-top: 70px;
        height: 380px;
        background: url(../img/help_bg.d9bc231.png) 0 0 no-repeat;
        background-size: 100% 100%;
        margin-bottom: 30px;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &>div {
            width: 1200px;
            margin: 0 auto;
            text-align: center;

            p {
                font-size: 20px;
                text-align: center;
                margin: 0 auto;
                line-height: 30px;
            }

            p:first-child {
                font-size: 42px;
                text-align: center;
                margin-bottom: 40px;
                line-height: 1;
            }
        }

        .product-nav {
            background: #4285f4;
            margin: 0 auto;
            font-size: 14px;
            color: #ccdfff;
            text-align: center;
            height: 60px;
            line-height: 60px;
            position: fixed;
            top: 70px;
            width: 100%;
            min-width: 1200px;
            z-index: 10;

            li {
                padding: 0 25px;
                display: inline-block;
                cursor: pointer;
                position: relative;

                &>div[data-v-0c55e207] {
                    position: absolute;
                    top: 60px;
                    left: 0;
                    right: 0;
                    z-index: 10;
                    background: #fff;
                    -webkit-box-shadow: 0 1px 6px 0 rgba(33, 117, 207, .4);
                    box-shadow: 0 1px 6px 0 rgba(33, 117, 207, .4);
                    border-radius: 6px;
                    color: #333;
                    padding: 10px 0;
                    width: 124px;
                    text-align: center;
                    visibility: hidden;
                    opacity: 0;
                    -webkit-transition: opacity .5s;
                    transition: opacity .5s;

                    p[data-v-0c55e207] {
                        line-height: 32px;
                        a{
                            color: #333;
                        }
                        a:hover{
                            color: $my_blue;
                        }
                    }
                }
            }


            .nav-active {
                color: #fff;
                font-weight: 400;

                &>div[data-v-0c55e207] {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .product-content-top {
        width: 1200px;
        margin: 0 auto;
        padding-left: 80px;
        padding-right: 106px;
        padding-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .title {
            margin-bottom: 13px;
            font-size: 28px;
            color: #333;
        }

        .text-left {
            padding-left: 70px;
            width: 460px;
            text-align: justify;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            .title-content {
                padding-bottom: 30px;
                line-height: 22px;
            }
        }

        .img-right {
            padding-left: 173px;

            img {
                width: 460px;
            }
        }
    }

    .product-content-bottom {
        width: 1200px;
        margin: 0 auto;
        padding-top: 100px;
       
        padding-left: 80px;
        padding-right: 106px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .img-left img {
            width: 487px;
        }

        .title {
            margin-bottom: 13px;
            font-size: 28px;
            color: #333;
        }

        .text-right {
            padding-left: 143px;
            width: 487px;
            text-align: justify;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            .title-content {
                padding-bottom: 30px;
                line-height: 22px;
            }
        }
    }
}